@import url('https://fonts.googleapis.com/css2?family=Roboto: wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  font-family: 'Roboto';
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-gap: 3rem;
}

.date-image {
  margin-right: 9rem;
}


.employmentForm {
  display: flex;
  flex-direction: row;
}

.form-header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 25px;
  color: #1E4681;
  margin-bottom: 0;
}

.form-article {
  max-width: 22ch;
}

.form-card {
  margin-right: 5rem;
}

.section-header {
  font-size: 3rem;
}

.Whatdowelearn {
  font-size: 2.5rem;
  font-family: 'Roboto Slab';
  font-weight: 700;
  color: #000000;
}

.m-60 {
  max-width: 60%;
}

.flex {
  display: flex;
  align-items: center;
}
.date {
  display: flex;
}
.Whatdowelearn-list li {
  font-family: 'Roboto';
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.myBody {
  padding: 5em 0em 3em;
  background: #EFEFEF;
}

.myBody .myHead2 {
  width: 987px;
  height: 93px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;
  margin-left: 122px;
  margin-bottom: 35px;
}

.myBody .box {
  width: 791px;
  height: 451px;
  margin-left: 126px;
  border-radius: 30px;
  padding: 20px;
  padding-left: 40px;
  -webkit-box-shadow: 1px 1px 20px 0px #00000040;
  box-shadow: 1px 1px 20px 0px #00000040;
  background-color: white;
  margin-bottom: 100px;
}

.myBody .box .Up {
  width: 700px;
  height: 203px;
  left: 170px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  padding-right: 0px;
  padding-top: 20px;
  margin-bottom: 15px;
}

.myBody .box .Down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.myBody .box .Down .myleft {
  width: 190px;
  height: 169px;
  left: 151px;
}

.myBody .box .Down .myright {
  margin-left: 30px;
}

.myBody .box .Down .myright p {
  width: 353px;
  height: 59px;
  left: 371px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 101.38%;
  color: #000000;
  margin-bottom: -5px;
}

.myBody .box .Down .myright img {
  width: 32px;
  height: 31px;
  left: 371px;
}

.data{
  display: flex;
}

/* course-date section start */

.course-date-container {
  background: #9DC9C8;

  padding-left: 8vw;
  padding-top: 12.3vw;
  padding-bottom: 12vw;
}

.course-date-header {
  margin-bottom: 3.7vw;
}

.course-date-main {
  margin-bottom: 4.8vw;
}

.course-date-main p {
  font-size: 1.7vw;
  line-height: 101.38%;
}

.course-date-main span {
  display: block;

  font-size: 5.5vw;
  line-height: 101.38%;

  color: #000000;
}

.course-date-footer {
  display: flex;
}

.course-date-footer-box {
  margin-right: 4.8vw;
  width: 20.4vw;
}

.course-date-footer-box p span {
  display: block;

  margin-bottom: 0.8vw;

  font-size: 1.6vw;
  line-height: 101.38%;

  color: #000000;
}

.course-date-footer-box p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 101.38%;

  color: #000000;

}

/* course-date section end */
/* main section end */

/* footer section start */
.footer-container {
  background-color: #000000;
  padding-left: 8vw;
  padding-top: 7vw;
  padding-bottom: 5vw;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vw;
}

.footer-logo-social .logo {
  margin-bottom: 2vw;
}

.footer-logo-social .logo img {
  width: 8vw;
}


.footer-logo-social .social a img {
  width: 2.3vw;
  margin-right: 1.7vw;
}

.contact {
  padding-right: 13vw;
}

.contact p img {
  width: 1.8vw;
  margin-right: 2vw;
}

.contact p {
  padding-bottom: 1.6vw;

  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  line-height: 101.38%;

  color: #FFFFFF;

}

.corp {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 101.38%;

  color: #FFFFFF;
}

/* footer section end  */
@media (min-width: 991px) {


  /* araz */
  .program-course {
    margin-top: 13.88vw;
    margin-bottom: 3.47vw;
  }

  .program-course .head {
    margin-left: 8.4vw;
    margin-bottom: 6.94vw;
  }

  .program-course .head h1 {
    font-size: 3.819vw;
    line-height: 3.87vw;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
  }

  .program-course .myitems {
    margin-left: 3.944vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .program-course .myitems .item {
    border-radius: 30%;
    width: 27.70vw;
    margin: 0 1.38vw;
  }

  .program-course .myitems .item .box {
    border-radius: 2.083vw;
    margin-bottom: 2.083vw;
  }

  .program-course .myitems .item .top {
    -webkit-box-shadow: 0.0694vw 0.0694vw 1.04vw 0px #00000040;
    box-shadow: 0.0694vw 0.0694vw 1.04vw 0px #00000040;
    border-radius: 2.083vw;
  }

  .program-course .myitems .item .bottom {
    padding: 0.694vw 1.3888vw;
  }

  .program-course .myitems .item .bottom h3 {
    font-size: 2.083vw;
    line-height: 2.70vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2.083vw;
  }

  .program-course img {
    width: 27.708vw;
    height: 11.11vw;
  }

  .program-course .myitems .item .bottom span {
    font-weight: 400;
    font-size: 1.736vw;
    line-height: 2.256vw;
    font-family: 'Roboto Slab', serif;
  }

  .program-course .myitems .item .bottom .first {
    margin-bottom: 0.694vw;
    line-height: 2.02vw;
  }

  /* araz */
}

@media (min-width: 320px) and (max-width: 991px) {

  /* jale */
  .date-image {
    display: none;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .employmentForm {
    display: flex;
    flex-wrap: wrap;
  }


  /* jale */
  /* araz */
  .program-course {
    margin-top: 13.88vw;
    margin-bottom: 3.47vw;
    /* margin-left:14vw ; */
    width: 100vw;

  }

  span {
    width: 43.15vw;
  }

  .program-course .head {
    width: 107.3vw;
    height: 11vw;
    margin-left: 8.62vw;
    margin-bottom: 8.88vw;
  }

  .program-course .head h1 {
    font-size: 6.93vw;
    line-height: 101.38%;
    height: 11.57vw;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
  }

  .program-course .myitems {
    margin-left: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .program-course .myitems .item {
    border-radius: 30%;

  }

  .program-course .myitems .item .box {
    border-radius: 2.083vw;
    margin-bottom: 6.083vw;
  }

  .program-course .myitems .item .top {
    -webkit-box-shadow: 0.0694vw 0.0694vw 1.04vw 0px #00000040;
    box-shadow: 0.0694vw 0.0694vw 1.04vw 0px #00000040;
    border-radius: 4.4vw;

  }

  .program-course .myitems .item .bottom {
    padding: 0.694vw 1.3888vw;
  }

  .program-course .myitems .item .bottom h3 {
    font-size: 3.73vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2.083vw;
    width: 55vw;
    height: 4.611vw;
  }

  .program-course .myitems .item .bottom span {
    font-weight: 400;
    /* width: 43.15vw; */
    font-size: 3.2vw;
    /* line-height:7.45vw; */
    font-family: 'Roboto Slab', serif;
  }

  .program-course .myitems .item .bottom .first {
    margin-bottom: 3vw;
    line-height: 3.44vw;

  }

  .myBody {
    padding: 10vw 0 3em;
    background: #EFEFEF;
    width: 100.26vw;
    height: 112.8vw;
    /* display: flex;
          align-items: center; */
  }

  .myBody .myHead2 {
    width: 68.5vw;
    height: 18.4vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.93vw;
    line-height: 101.38%;
    color: #000000;
    margin-left: 8.4vw;
    margin-bottom: 2.93vw;
  }

  .myBody .box {
    width: 82.13vw;
    height: 66.13vw;
    margin-left: 8.7vw;
    border-radius: 3.73vw;
    padding: 1.3vw;
    padding-left: 2.7vw;
    -webkit-box-shadow: 1px 1px 20px 0px #00000040;
    box-shadow: 1px 1px 20px 0px #00000040;
    background-color: white;
    /* margin-bottom: 14.13vw; */
  }

  .myBody .box .Up {
    width: 70.93vw;
    height: 29.6vw;
    left: 11.8vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 2.66vw;
    line-height: 4vw;
    color: #000000;
    padding-right: 0vw;
    padding-top: 1.3vw;
    margin-bottom: 1.04vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }

  .myBody .box .Down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .myBody .box .Down .myleft {
    width: 13.19vw;
    height: 11.7vw;
    left: 10.4vw;
  }

  .myBody .box .Down .myleft img {
    width: 24.33vw;
    height: 22.4vw;
    margin-left: 0vw;
    /* margin-top:5.73vw; */
    margin-bottom: 3.46vw;
  }

  .myBody .box .Down .myright {
    margin-left: 2vw;
  }

  .myBody .box .Down .myright p {
    width: 43.864vw;
    height: 8.728vw;
    /* left: 25.7vw; */
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 700;
    font-size: 3.73vw;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: -0.3vw;
    margin-top: 10.416vw;
    margin-left: 9vw;
  }

  .myBody .box .Down .myright img {
    width: 3.976vw;
    height: 4.586vw;
    /* left: 25.7vw; */
    margin-left: 9vw;
  }

  /* araz */
}
.Coursestart {
  height: 780px;
  width: 1501px;
  background-color: #9DC9C8;
  margin-top: -18px;

}
